

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Body background-color and font-family*/

body {
  background-color: #b32d00;
  font-family: 'Montserrat', sans-serif;
  margin: 5px;
  border: 5px solid #008080;
}


/*<header> & <nav> styling*/

/*background-image style*/



header {
  font-family: 'Montserrat', sans-serif;
  background-image:url(images/sky.jpg);
  background-size: cover;
  position: relative;
  padding: 20px;
  background-color: #39a6b2;
  height: 500px;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  color: #cc2900;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
}

header nav ul li a {
  font-weight: bold;
  display: inline-block;
  margin-left: 25px;
  color: #1858cd;
}
/*header and nav styles end*/

.portfolio {
border: 20px groove #3366cc;
}

.portfolio h1{
  font-size: 40px;
  margin: 5px;
  text-decoration: underline;
  }

  .portfolio h2{
font-size: 25px;
text-decoration: underline;
  }

  .portfolio img{
    height: 200px;
    margin: 20px;
  }
  
  .portfolio div{
    margin: 10px;
  }

  #placeholder {
    margin: 10px;
  }

  #placeholdertwo {
    margin: 10px;
  }

  #placeholderthree {
    margin: 10px;
  }

  .about p {
    font-size: 18px;
  }

  figcaption {
    color: #134d00;
    font-weight: bold;
    font-size: 15px;
  }

#repository {
  color: #134d00;
  font-size: 15px;
}

  .contact-me a {
text-decoration: underline;
color: coral;
  }

  .contact-me nav ul li {
    display: inline;
    text-decoration: underline;
  }

  .contact-me nav ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
  }
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .hero-cta, .hero-form {
    width: 100%;
  }
  
  .hero-cta {
    text-align: center;
  }

  .section-title {
    width: 80%;
  }
  
  .trainer {
    flex: 0 70%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

  .trainer-bio h3, .trainer-bio h4 {
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

  .contact-form {
    order: 3;
  }
}
