:root {
	--skintone-color: #DE9B72;
	--dark-color: #3A3D3E;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*Body background-color and font-family*/

body {
  background-color: #b32d00;
  font-family: 'Montserrat', sans-serif;
  margin: 10px;

}


/*<header> & <nav> styling*/

/*background-image style*/
.portfolio{

}
header {
  font-family: 'Montserrat', sans-serif;
  background-image:url(images/sky.jpg);
  background-size: cover;
  position: relative;
  padding: 20px;
  background-color: #39a6b2;
  height: 500px;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  color: #cc2900;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
  text-decoration: underline;
}

header nav ul li a {
  font-weight: bold;
  display: inline-block;
  margin-left: 25px;
  color: #1858cd;
}
.about h1 {
  margin-bottom: 20px;
  font-size: 36px;
}
.handsome {
  height: 200px;
}

.screenshot{
  height: 200px;
}

.run{
  height: 200px;
}

.bio {
  float: right;
  position: relative;
}


  .contact-me a {
text-decoration: underline;
color: coral;
  }

  .contact-me nav ul li {
    display: inline;
    text-decoration: underline;
  }

  .contact-me nav ul li a {
    margin: 0 30px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
  }
  