/*Universal styling*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Body background-color and font-family, margin, & border*/
body {
  background-color: #808080;
  margin: 0.3125em;
  border: 0.3125em solid #008080;
  font-family: 'Oswald', sans-serif;
}



/*<header> & <nav> styling*/
/*background-image style*/
header {
  background-image: url(images/sky.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  position: -webkit-sticky;
  position: relative;
  top:0;
  padding: 1.25em 2.1875em;
  background-color: #39a6b2;
  height: 25em;
  border: 10px groove #ffe6cc;
  border-radius: 1.25em;
  justify-content: space-evenly;
}

/*header h1 styling*/
header h1 {
  color: #4d94ff; 
  font-weight: bold;
  font-size: 3em;
  text-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
}

/*header nav styling*/
header nav {
  font-size: 1.25em;
  text-decoration: underline;
}


header nav ul li a {
  font-weight: bold;
  font-weight: lighter;
  font-size: 1.55vw;
  color: #cc2900;
  justify-content: space-between;
  cursor: pointer;
  text-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
}

/*Styling for when user hovers over or clicks on links*/
header nav ul li a:hover {
  border-radius: 0.9375em;
  text-shadow: none;
}

header nav ul li a:active {
  border-radius: 0.9375em;
  text-shadow: 0.0625em 0.0625em #c2d6d6;
}

/*header nav button styling*/
#topnav {
  font-weight: 700;
  font-size: 1.25em;
  color: #006600;
  padding: 0.125em;
  margin-bottom: 1.875em;
}

/*Date/time/clock styling */
/*https://codepen.io/dcode-software/pen/abqRRqq*/

.datetime {
  font-size: 1em;
  padding: 1.5em;
  color: #ffffff;
  background: #444444;
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.25);
  border-radius: 0.25em;
  border-right: 0.625em #009578 solid;
  width: 18.75em;
  font-weight: 500;
}

.time {
  font-size: 1em;
  color: #00ffcc;
}

.date {
  margin-top: 0.75em;
  font-size: 1em;
}


/*header and nav styles end*/

/*Styling for .portfolio*/
.portfolio {
display: flex;
justify-content: start;
flex-wrap: nowrap;
flex: 1 1 0;
}

.portfolio h1{
  font-size: 2.5em;
  font-weight: 700;
  margin: 0.3125em;
  text-decoration: underline;
  text-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
  }

  .portfolio h1::after {
    position: absolute;
    content:"|";
  }

.portfolio div{
  margin: 0.625em;
  display: flex;
  flex-flow: row wrap;
  align-items: left;
  }

/*#marketing styling*/
#marketing {
  background-color:#00cccc;
  margin: 0.625em 0.625em 0.625em 0.3125em;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  right: -6.25em;
}

#marketing h2 {
  background-color: #00802b;
  font-size: 1.875em;
  text-decoration: underline;
  text-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
}

/*#buddy styling*/
#buddy {
  background-color:#00cccc;
  margin: 0.3125em 0.625em 0.625em 0.3125em;
  display: flex;
  position: relative;
  right: -6.25em;
  flex-wrap: nowrap;
}

#buddy h2 {
  background-color: #00802b;
  font-size: 1.25em;
  text-decoration: underline;
  text-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
}

/*#placeholder styling*/
#nerds {
  display: flex;
  flex-flow: row nowrap;
  background-color:#00cccc;
  margin: 0.3125em 0.625em 0.625em 0.125em;
  position: relative;
  right: -6.25em;
}

#nerds h2 {
  font-size: 1.25em;
  text-decoration: underline;
  text-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
}

/*watch-that-box styling*/
#watch {
  display: flex;
  flex-flow: row nowrap;
  background-color:#00cccc;
  margin: 0.3125em 0.625em 0.625em 0.3125em;
  display: flex;
  position: relative;
  right: -6.25em;
}

#watch h2 {
  font-size: 1.8125em;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
}

/*Styling for image in #marketing*/
.screenshot {
  display: inline-flex;
  flex-wrap: nowrap;
  object-fit: contain;
  height: 12.5em;
  margin: 0.625em;
  position: relative;
  cursor: pointer;
}

/*Styling for image in #buddy*/
.run {
  display: inline-flex;
  flex-wrap: nowrap;
  object-fit: contain;
  height: 12.5em;
  margin: 0.625em;
  position: relative;
  cursor: pointer;
}

/*Styling for image in #placeholdertwo*/
.box {
  display: inline-flex;
  flex-wrap: nowrap;
  object-fit: contain;
  height: 12.5em;
  margin: 1.25em;
  position: relative;
  cursor: pointer;
}

/*Styling for image in Movie Nerds*/
.project1 {
  display: inline-flex;
  flex-wrap: nowrap;
  object-fit: contain;
  height: 12.5em;
  margin: 1.125em 0.9375em 1.125em 1.125em;
  position: relative;
  right: -0.625em;
  cursor: pointer;
}

/*#About-Me <p> styling*/
#About-Me p {
 font-size: 1.125em;
 color:#b32d00; 
 position: relative;
  }

/*.handsome is profile photo styling in About-Me section*/
.handsome {
    height: 15em;
    position: relative;
    bottom: -0.625em;
    right: -0.625em;
    margin: 1.25em 1.875em 0.625em 1.25em;
    padding-top: 0.3125em;
  }

.bio {
    background-color: #003366;
    display: flex;
    flex-flow: column wrap;
    text-align: left;
    width: 65%;
    line-height: 1.5;
    height: 80%;
    bottom: -6.25em;
  }

/*#Contact-Me styling*/
#Contact-Me  {
 display: flex;
 flex-wrap: wrap;
 background-color: #1a75ff;
 width: 15.625em;
 height: 15.625em;
  }

#bottomnav {
  display: inline-flex;
  order: 3;
  font-weight: 700;
  font-size: 1.25em;
  color: #006600; 
  
}

#phone {
  margin-left: 1.875em;
}

#linkedin {
  color:#000000;
  margin-left: 1.875em;
}

#github {
  color:#000000;
  margin-left: 2.8125em;
}

#Contact-Me h1 {
  font-size: 1.875em;
  font-weight: 700;
  }


  /*#Resume styling*/
#Resume {
  display: flex;
  flex-wrap: wrap;
  background-color: #1a75ff;
  height: 12.5em;
  width: 12.5em;
    }

#resume-header {
  font-size: 1.875em;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-right: 1.25em;
  }

  span {
    font-size: 2.1875em;
    color: #000000;
    padding-top: 0.625em;
  }
 

