/*Universal styling*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*Body background-color and font-family, margin, & border*/
body {
  background-color: #808080;
  margin: 0.3125em;
  border: 0.3125em solid #008080;
  font-family: 'Oswald', sans-serif;
}



/*<header> & <nav> styling*/
/*background-image style*/
header {
  background-color: #003300;
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  position: -webkit-sticky;
  position: relative;
  top: 0;
  padding: 1.25em 2.1875em;
  height: 25em;
  border: 0.625em groove #ffe6cc;
  border-radius: 1.25em;
  justify-content: space-evenly;
}

/*header h1 styling*/
header h1 {
  color: #4d94ff;
  font-weight: bold;
  font-size: 3em;
  text-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
}

/*header nav styling*/
header nav {
  font-size: 1.25em;
  text-decoration: underline;
}

/*Styling for when user hovers over or clicks on links*/
header nav ul li a:hover {
  border-radius: 0.9375em;
  text-shadow: none;
}

header nav ul li a:active {
  border-radius: 0.9375em;
  text-shadow: 0.0625em 0.0625em #c2d6d6;
}

/*header nav button styling*/
#topnav {
  font-weight: 700;
  font-size: 1.25em;
  color: #ff6666;
  padding: 0.125em;
  margin-bottom: 1.875em;
}

/*header and nav styles end*/

/*#About-Me styling*/

#About-Me {
  margin-top: 0.125em;
}

#About-Me p {
  font-size: 1em;
  font-weight: 600;
  color: #e60000;
  position: relative;
}

#About-Me h1 {
  font-size: 1.875em;
  font-weight: 700;
  text-decoration: underline;
}

/*.handsome is profile photo styling in About-Me section*/
.handsome {
  height: 15em;
  position: relative;
  bottom: -0.625em;
  right: -0.625em;
  margin: 1.25em 1.875em 0.625em 1.25em;
  padding-top: 0.3125em;
}

#bio {
  background-color: #1a75ff;
}

#Work h1 {
  font-size: 1.875em;
  font-weight: 700;
  text-decoration: underline;
}

/*#cards styling*/

#cards {
  background-color: #00cccc;
  margin: 0.625em 0.625em 0.625em 0.3125em;
  width: 50%;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
}

#cards h2 {
  background-color: #00802b;
  font-size: 1.0625em;
  text-decoration: underline;
  text-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
}

/*Styling for the images in all cards*/
.screenshot {
  display: inline-flex;
  flex-wrap: nowrap;
  object-fit: contain;
  height: 12.5em;
  margin: 0.625em;
  position: relative;
  cursor: pointer;
}

/*#cards styling ends */


/*#Contact-Me styling*/
#Contact-Me {
  background-color: #1a75ff;
  width: 1em;
  height: 6em;
  margin-left: 0.9375em;
  margin-bottom: 0.3125em;
}

#bottomnav {
  font-weight: 700;
  font-size: 1.25em;
  color: #006600;
  text-decoration: underline;
}

#Contact-Me h1 {
  font-size: 1.875em;
  font-weight: 700;
}

/*#Resume styling*/

#resume-header {
  font-size: 1.875em;
  font-weight: 700;
  margin-right: 0.625em;
}

span {
  font-size: 1.5625em;
  color: #000000;
}